@import 'colors';
.errorWrapper{
    width: 100%;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    .errorInnerWrapper{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      background-color: #fff7e6;
      padding:50px 15px;
      border-radius: 20px;
      h1{
        font-size: 115px;
        font-weight: 700;
        span{
            color: $primary_color;
        }
      }
      a{
        background-color: #7A5E27;
    border: 1px solid #7A5E27;
    color: #FFFFFF;
    padding: 10px 15px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 18px;
    transition: all 300ms ease-in;
      }
    }
}