@import 'colors';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    position: relative;
}

body {
    // background: hsla(40, 100%, 94%, 1);
    // background: linear-gradient(180deg, hsla(40, 100%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    // background: -moz-linear-gradient(180deg, hsla(40, 100%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    // background: -webkit-linear-gradient(180deg, hsla(40, 100%, 94%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background-image: linear-gradient(to top, #ffffff 90%, #fff4df 100%);
 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
p{
    color: #000;
    font-size: 14px;
    line-height: 24px;
}

a:hover{
    color: $primary_color;
}

.carousel-indicators [data-bs-target] {
    background-color: #7f6127 !important;
}
.carousel-indicators{
    bottom: -37px !important;
}
.animationBox{
     div{
        display: flex;
        border: 5px solid #e5e5e5;
        // border-radius: 100%;
        align-items: center;
        justify-content: center;
        z-index: -1;
        position: relative;
        width: 70px;
        height: 70px;
        // span{
        //     position: absolute;
        //     top: 6px;
        //     width: 10px;
        //     height: 10px;
        //     background-color: #e5e5e5;
        //     border-radius: 100%;
        // }
     }
     div:nth-child(1){
        // width: 70px;
        // height: 70px;
        position: absolute;
        top: 13.5%;
        right: 8%;
        animation: circle 9s linear infinite;
       }

       div:nth-child(2){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 37%;
        right: 45%;
        animation: circle 13s linear infinite;
       }
       div:nth-child(3){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 60%;
        left: 5%;
        animation: circle 8s linear infinite;
       }
       div:nth-child(4){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 12%;
        left: -30px;
        animation: circle 11s linear infinite;
       }
       div:nth-child(5){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 25%;
        left: 30%;
        animation: circle 10s linear infinite;
       }
       div:nth-child(6){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 73%;
        right: 10%;
        animation: circle 9s linear infinite;
       }
       div:nth-child(7){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 30%;
        right: 6%;
        animation: circle 12s linear infinite;
       }
       div:nth-child(8){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 54%;
        left: 30%;
        animation: circle 7s linear infinite;
       }
       div:nth-child(9){
        // width: 100px;
        // height: 100px;
        position: absolute;
        top: 45%;
        right: 1%;
        animation: circle 10s linear infinite;
       }
}

@keyframes circle {
     0%{
        transform: scale(0) translateY(0) rotate(0);
     }
     100%{
        transform: scale(1) translateY(-120px) rotate(360deg);
     }
}

@keyframes circle2 {
    0%{
       transform: scale(0) translateX(0) rotate(0);
    }
    100%{
       transform: scale(1) translateX(90px) rotate(360deg);
    }
}
.carousel-indicators [data-bs-target]{
    background-color: $white;
}
.accordion-button{
    font-size: 18px;
    font-weight: 500;
    box-shadow: none;
    outline: none;
}
.accordion-button::after{
    background-image: url('/images/down-arrow.png') !important;
}
.accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.accordion-button:not(.collapsed){
    background-color: #23ac44;
    color: #fff;
   
}
.accordion-button:not(.collapsed)::after{
    color: #fff;
}
.accordion-item:first-of-type .accordion-button, .accordion-item:first-of-type .accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.custom-carousel-btn{
    position: absolute;
    top: -9px;
    right: 30px;
    button{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $secondary_color;
        color: $white;
        margin: 10px;
        border: none;
       
    }
    button.disable{
        background-color: #e5e5e5;
      }
}

@media screen and (max-width: 768px) {
    .mb-15{
        margin-bottom: 15px;
    }
    .mb-0{
        margin-bottom: 0px !important;
    }
 }
