@import 'colors.scss';

.innerPageBanner{
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    h1{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        margin-bottom: 0px;
        color: $white;
        z-index: 10;
    }
    .overlayBg{
    position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
      z-index: 5;
    }
    @media screen and (max-width: 768px) {
        min-height: 150px; 
    }
}

.authWrapper{
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background: #f3f1ec57;
    border-radius: 10px;
}
.innerPageWrapper{
    padding: 50px 0px;
}
.errorHelp{
    font-size: 14px;
    color: red;
}
.aboutContent{
    padding: 50px 70px;
    span{
        display: inline-block;
        font-size: 17px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        color: $secondary_color;
    }
    h2{
        font-size: 35px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: $secondary_color;
        margin-bottom: 15px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        font-family: "Poppins", sans-serif;
        margin-bottom: 25px;
    }
    @media screen and (max-width: 768px) {
        padding: 0px 0px 50px 0px;
        img{
            max-width: 250px;
            margin: 30px auto;
        }
    }
}
.aboutThumb{
    img{
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        text-align: center;
        img{
            max-width: 250px;
            margin: 30px auto;
        }
    }
}

.counterBox{
    ul{
        li{
            font-family: "Poppins", sans-serif;
            display: inline-block;
            margin-right:50px;
            span{
                font-weight: 600;
                font-size: 32px;
                display: block;
            }
           
        }
        li:nth-last-child(1){
            margin-right: 0px;
        }
        
    }
}

.aboutSectionBottom{
    width: 100%;
    height: auto;
    background-color: $secondary_color;
    padding: 70px 0px;
    position: relative;
    .contactBox{
        background-color: #a28e68;
        max-width: 600px;
        margin: 0 auto;
        padding: 50px 50px;
        text-align: center;
        border-radius: 20px;
        h3{
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            color: $white;
            margin-bottom: 25px;
        }
        a{
            display: inline-block;
            padding: 10px 45px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            border-radius: 25px;
            font-size: 17px;
            background-color: $light_secondary_color;
            color: $white;
        }
    }
    .indicatorImg{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            max-width: 900px;
        }
        @media screen and (max-width: 768px) {
           img{
              display: none;
           }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 50px 0px; 
    }
   
}

.serviceWrapper{
    padding: 70px 0px;
    h2{
        font-size: 35px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: $secondary_color;
        margin-bottom: 30px;
        text-align: center;
    }
    .serviceList{
        .serviceItems{
            margin-bottom: 30px;
            text-align: center;
            background-color: #fff;
            padding: 20px;
            img{
                width: 100%;
            }
            h3{
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                color: $secondary_color;
                margin-top: 15px;
                margin-bottom: 0px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 50px 0px; 
    }
}

.testimonialWrapper{
    padding: 70px 0px 20px;

    h2{
        font-size: 35px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: $secondary_color;
        margin-bottom: 30px;
        text-align: left;
    }
    .testimonialInner{
        position: relative;
        .testimonialItem{
            border: 1px solid #EFEFEF;
            margin: 10px;
            padding: 30px 65px;
            border-radius: 20px;
            .testimonialUser{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .userThumb{
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-bottom: 7px;
                    img{
                        width: 100%;
                    }
                }
                .userName{
                    font-weight: 500;
                    font-family: "Poppins", sans-serif;
                    color: $secondary_color;
                    font-size: 15px;
                }
            }

            .testimonialContent{
                position: relative;
                p{
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    text-align: justify;
                    margin-bottom: 0px;
                }
            }
            .testimonialContent p::before{
               content:url('../public/images/qt-1.png');
               position: absolute;
               z-index: 100000;
               left: -49px;
               top: -8px;
            }
            .testimonialContent p::after{
                content:url('../public/images/qt-2.png');
                position:relative; 
                z-index:100000;
                right:-50px;
                bottom:-10px;
             }
        }
    }
}
.enquiryWrapper{
    max-width: 800px;
}
.contactWrapper{
    max-width: 1024px;
    .contactForm{
        padding: 0px 50px 0px 0px;
        h1{
            font-size: 35px;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            color: $secondary_color;
            margin-bottom: 30px;
            text-align: left;
        }
        p{
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            text-align: justify;
            margin-bottom: 20px;
        }
    }
    .contactImage{
        width: 100%;
        max-width: 456px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
   
}


.formGroup{
    margin-bottom: 22px;
}
.formControl{
        min-height: 43px;
        width: 100%;
        padding: 7px 15px;
        border-radius: 7px;
        border: 1px solid #e5e5e5;
}
.formControl:focus{
    outline: none;
     border: 1px solid $primary_color;
}
.textArea{
    padding: 7px 15px;
    min-height: 150px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #e5e5e5;
}
.textArea:focus{
    outline: none;
     border: 1px solid $primary_color;
}
.submitButton{
    background-color: $light_secondary_color;
    color: $white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px !important;
    min-width: 200px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border-radius: 7px;
}


.contactWrapperBottom{
    padding: 50px 0px 0px;
    .socialItems{
        border: 1px solid #e5e5e5;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 20px;
            font-weight: 300;
            font-family: "Poppins", sans-serif;
            padding: 5px;
        }
    }
}

.captcha{
    span{
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        margin-bottom: 10px;
        text-decoration: line-through;
        background-color: #000;
        color: $white;
        padding: 7px 15px;
        border-radius: 5px;
        user-select: none;
    }
    button{
        background-color: transparent;
        border: none;
        margin-left: 5px;
        img{
            width: 30px;
        }
    }
   
}


.serviceFeatured{
    img{
        width: 100%;
    }
}
.serviceDetails{
    .subTitle{
        font-size: 18px;
        font-weight: 500;
        margin: 20px 0px 10px;
    }
    .title{
        font-weight: 700;
        color: #a28e68;
        margin-bottom: 15px;
    }
    p{
        font-size: 16px;
    }
}

.serviceWidget{
    padding: 15px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.03);
    border-radius: 20px;
    margin-bottom: 25px;
    .widgetTitle{
        font-size: 30px;
        color: #a28e68;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .widgetContent ul li{
        display: block;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            color: #000;
            padding: 10px 10px;
            border-bottom: 1px dashed #e5e5e5;
            
        }
        a:nth-last-child(1){
            border-bottom: 0px;
        }
    }
}
.ourProductS{
    padding: 50px 0px;
    h1{
        color: #a28e68;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }
    img{
        width: 100%;
        box-shadow: 0px 0px 25px rgba(0,0,0,0.03);
    }
}

.faqs{
    max-width: 1024px;
    margin: 0 auto;
    .faqTitle{
        color: #a28e68;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }
}